In [35]:
import pandas as pd

#make sure your csv file is in the same directory as the python file you're working on
with open("ramen-ratings.csv", "rt", encoding="UTF-8") as csv_file:
    print(csv_file.read())

In [2]:
#convert the csv data into a nice readable format using pandas (much harder in other languages)
ramen_df = pd.read_csv("ramen-ratings.csv")
ramen_df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [34]:
'''Get the top rated ramen dish in the entire dataset (one important thing is that Stars is not an float actually...)
   the reason for that is because some dishes are "unrated", which cannot be expressed numerically. So be sure to parse the 
   strings to floats and if the stars is "unrated" for a row, you can assume it is 0 stars. If there is a tiebreak, just
   choose one dish that is in the tiebreak.
   
'''

max_stars = 0
pandas_index = 0
for i in range(0, len(ramen_df)):
    stars = ramen_df.iloc[i]['Stars']
    if stars == "Unrated":
        stars = 0
    else:
        stars = pd.to_numeric(stars)  # float(stars) also works
        
    #check if a replacement is necessary
    if stars > max_stars:
        max_stars = stars
        pandas_index = i
        
print("The max stars was", max_stars)
print("Here is some information about that review: ")
print("---------------------------------------------")
print(ramen_df.iloc[pandas_index])

The max stars was 5
Here is some information about that review:
---------------------------------------------
Review #                           2570
Brand                       Tao Kae Noi
Variety     Creamy tom Yum Kung Flavour
Style                              Pack
Country                        Thailand
Stars                                 5
Top Ten                             NaN
Name: 10, dtype: object

In [ ]:
'''
    Challenge: Order the top 5 ramen reviews

'''